.login-inner-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    .login-left-bg {
        flex: 0 0 32%;
        max-width: 32%;
        width: 100%;
        background-image: url(../../assets/images/Login/Login-left-img.svg);
        background-position: left center;
        background-size: contain;
        background-repeat: no-repeat;
        height: 100vh;
        background-color: #fff;
    }

    .login-right-fuild {
        flex: 0 0 68%;
        max-width: 68%;
        width: 100%;
        background-color: #fff;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;

        .login-logo {
            text-align: center;
            margin-bottom: 60px;
            img{
                max-width: 160px;
            }
        }

        .logo-bottom-text {
            margin-bottom: 50px;
            text-align: center;

            p {
                font-size: 18px;
                color: #404040;
                margin: 0;
                margin-bottom: 5px;
            }

            .forgot-password-text {
                margin-top: 15px;
                font-weight: 500;
                font-size: 14px;
            }

            h1 {
                font-size: 22px;
                color: #404040;
                font-weight: 600;
                margin: 0;
            }
        }

        .login-form {
            width: 450px;

            .form-group {
                &:focus-within {
                    label {
                        color: #1C6FE9;
                    }
                }

                margin-bottom: 40px;
                position: relative;

                label {
                    color: #929292;
                    position: absolute;
                    top: 25px;
                    left: 15px;
                    line-height: 1;
                    transform: translate(0, -50%);
                    &.eyeBtn{
                        left: 400px;
                        right: 0;
                        position: absolute;
                    }
                }

                input {
                    min-height: 46px;
                    background-color: transparent;
                    border-radius: 10px;
                    border: solid 1px #E5E5E5;
                    width: 100%;
                    box-sizing: border-box;
                    padding-left: 10%;
                    color: #404040;
                    font-size: 14px;
                    font-weight: 600;

                    &::placeholder {
                        color: #929292;
                    }

                    &:focus {
                        outline: none;
                    }
                    
                }
            }
            
            .forgot-text {
                text-align: center;
                margin-bottom: 40px;

                a {
                    font-size: 14px;
                    color: #404040;
                    font-weight: 600;
                    cursor: pointer;

                    &:hover {
                        color: #1C6FE9;
                    }
                }

            }

            .back-login-btn {
                margin-bottom: 0;
                margin-top: 40px;

                a {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: #1C6FE9;
                    svg {
                        margin-right: 2px;
                        font-size: 20px;
                    }
                }
            }

            .login-btn {
                button {
                    width: 100%;
                }
            }
        }

    }
}

.otp-container {
    justify-content: center;
    align-items: center;
    .otp-input{
        width: 52px !important;
        height: 52px;
        margin: 0 15px;
    }
}

.error-massage {
    color: red;
}