.bio-test-title-list-icon {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;

    h2 {
        font-size: 16px;
        color: #404040;
        font-weight: 700;
        margin: 0;
    }

    .list-grid-icon {
        display: flex;
        align-items: center;

        .grid-list-icon {
            padding: 0;
            border: solid 1px #1C6FE9;
            height: 42px;
            width: 42px;
            border-radius: 42px;
            color: #1C6FE9;
            background-color: transparent;
            font-size: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all .5s ease-in-out;

            &:first-child {
                margin-right: 10px;
            }

            &:hover {
                background-color: #1C6FE9;
                color: #fff;
            }
        }

        .active {
            background-color: #1C6FE9;
            color: #fff;
        }
    }
}

.bio-test-search {
    position: relative;
    margin-bottom: 55px;

    .search {
        .search-icon {
            position: absolute;
            left: 10px;
            background-color: transparent;
            border: none;
            color: #1C6FE9;
            font-size: 22px;
            display: flex;
            align-items: center;
            font-family: 'Open Sans', sans-serif;
            top: 12px;
        }

        .search-input {
            width: 100%;
            padding-left: 55px;
            margin-right: 30px;
            border-top: 0;
            border-left: 0;
            border-right: 0;
            min-height: 46px;
            font-size: 14px;
            font-weight: 600;
            border-bottom: solid 1px #DEDEDE;
            font-family: 'Open Sans', sans-serif;

            &:focus {
                outline: none;
            }
        }
    }
}

.grid-view-inner-wrapper {
    display: flex;
    grid-row-gap: 60px;
    grid-column-gap: 30px;
    flex-wrap: wrap;
    cursor: pointer;

    .grid-view-column {
        width: 275px;
        height: 216px;
        background-color: #fff;
        border-radius: 15px;
        box-shadow: 0 21px 24px rgba($color: #1C6FE9, $alpha: 0.13);
        transition: all .5s ease-in-out;
        justify-self: center;

        .grid-title-right-icon {
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: relative;
            padding: 30px;

            .title {
                font-size: 16px;
                color: #1C6FE9;
                font-weight: 700;
                width: 70%;
                text-decoration: none;
            }

            img {
                position: absolute;
                top: 0;
                right: 0;
            }
        }

        .grid-title-bottom-icon {
            padding: 30px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .child-title {
                p {
                    font-size: 14px;
                    font-weight: 600;
                    margin: 0;
                }

                span {
                    font-size: 20px;
                    font-weight: 600;
                }
            }

            .pluse-link {
                height: 44px;
                width: 44px;
                display: flex;
                align-items: center;
                justify-content: center;
                box-shadow: 0 3px 6px rgba($color: #000000, $alpha: 0.10);
                border-radius: 42px;
            }
        }

        &:hover {
            background-color: #327DEB;
            color: #fff;

            .title {
                color: #fff;
            }

            .pluse-link {
                background-color: #fff;
                color: #000000
            }
        }
    }
}

.bio-test-details {
    .bio-name {
        h2 {
            font-size: 18px;
            color: #1C6FE9;
            font-weight: 700;
            margin-top: 0;
            margin-bottom: 5px;
            line-height: 1;
        }

        p {
            font-size: 12px;
            color: #929292;
            font-weight: 600;
            margin-top: 0;
            margin-bottom: 40px;
            padding-bottom: 15px;
            border-bottom: solid 1px #DEDEDE;
        }
    }

    .bio-descrition {
        margin-bottom: 40px;

        span {
            font-size: 14px;
            font-weight: 700;
            display: inline-block;
            border-bottom: solid 1px #1C6FE9;
            padding-bottom: 5px;
            margin-top: 0;
            margin-bottom: 20px;
        }

        p {
            font-size: 16px;
            font-weight: 500;
            margin: 0;
        }
    }

    .bio-file {
        p {
            font-size: 14px;
            font-weight: 700;
            display: inline-block;
            border-bottom: solid 1px #1C6FE9;
            padding-bottom: 5px;
            margin-top: 0;
            margin-bottom: 20px;

            span {
                color: #1C6FE9;
            }
        }
    }
}

.bio-test-file-view {
    display: flex;
    overflow-y: hidden;
    overflow-x: auto;
    padding: 15px;

    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px #EDF1F6;
        background-color: #EDF1F6;
        border-radius: 5px;
    }

    &::-webkit-scrollbar {
        width: 6px;
        height: 6px;
        background-color: #EDF1F6;
        border-radius: 5px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #1C6FE9;
        border-radius: 5px;
    }

    .bio-test-file-column {
        height: 143px;
        min-width: 250px;
        border-radius: 15px;
        box-shadow: 0 0 24px rgba(#000000, 0.09);
        padding: 20px;
        box-sizing: border-box;
        margin-right: 30px;
        text-align: center;

        h3 {
            font-size: 16px;
            font-weight: 600;
            margin: 0;
        }

        .file-img {
            text-align: center;

            img {
                margin-bottom: 15px;
                margin: 0 auto;
                display: block;
            }

            p {
                color: #757575;
                font-size: 14px;
                margin-bottom: 0;
                border: none;
            }
        }
    }
}

.child-bio-test-table-list {
    margin-top: 50px;
    position: relative;
    border-top: solid 2px #EDF1F6;
    padding-top: 50px;
}

.child-bio-test-list-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;

    h2 {
        font-size: 16px;
        font-weight: 700;
        margin: 0;

        span {
            color: #1C6FE9;
        }
    }

    .create-bio-btn {
        background-color: #1C6FE9;
        min-width: 220px;
        min-height: 52px;
        color: #fff;
        font-size: 16px;
        font-weight: 600;
        border-radius: 10px;
        border: none;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        font-family: 'Open Sans', sans-serif;
        transition: all .5s ease-in-out;

        svg {
            margin-right: 10px;
        }
    }
}

// create bio test css 

.create-bio-form {
    .form-group {
        position: relative;
        margin-bottom: 40px;

        span {
            color: #1C6FE9;
            font-size: 14px;
            font-weight: 700;
            margin-bottom: 15px;
            display: block;
        }

        .create-bio-input {
            min-height: 50px;
            background-color: transparent;
            border-radius: 10px;
            border: solid 1px #E5E5E5;
            width: 100%;
            padding-left: 15px;
            padding-right: 10px;
            color: #404040;
            font-size: 16px;
            font-weight: 600;
            font-family: 'Open Sans', sans-serif;
            padding-top: 0;
            padding-bottom: 0;
            box-sizing: border-box;
        }
    }
    .view-bio-details-item{
        .supported-extract {
            display: flex;
            grid-column-gap: 10px;
            border: solid 1px #ddd;
            border-radius: 10px;
            padding: 0 10px;
            width: 100%;
            box-sizing: border-box;
            min-height: 42px
        }
        p{
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0;

            span{
                    margin-bottom: 0 !important;
                    background-color: #e6e6e6;
                    margin-right: 10px;
                    padding: 1px 5px;
                    border-radius: 2px;
                    color: black;
            }
        }
    }
}

// bio test view css

.view-bio-details {
    .view-bio-details-item {
        margin-bottom: 30px;


        >span {
            font-size: 16px;
            color: #1C6FE9;
            margin-bottom: 12px;
            font-weight: 600;
            display: block;
        }

        p {
            font-size: 16px;
            padding-bottom: 20px;
            margin-top: 0;
            margin-bottom: 0;
            font-weight: 600;
            border-bottom: solid 1px #E5E5E5;

            span {
                margin-right: 10px;

                svg {
                    color: #1C6FE9;
                }
            }
        }
    }

    .view-bio-details-btn {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .btn {
            min-width: 130px;
            min-height: 52px;
            color: #fff;
            font-size: 16px;
            font-weight: 600;
            border-radius: 10px;
            border: none;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            font-family: 'Open Sans', sans-serif;
            transition: all .5s ease-in-out;
            margin-left: 15px;
            padding-left: 20px;
            padding-right: 20px;
        }

        .create {
            background-color: #1C6FE9;
        }

        .duplicate {
            background-color: #404040;
        }

        .delete {
            background-color: #FF3737;
        }

        svg {
            margin-right: 10px;
            font-size: 20px;
        }
    }
}

.pagination-selector {
    justify-self: end;

    select {
        min-height: 35px;
        min-width: 50px;
        padding: 10px;
        box-sizing: border-box;
        margin-left: 10px;
        border-radius: 5px;
        border: solid 1px #E5E5E5;
    }
}