.selector-wrapper {
  margin-bottom: 80px;
}

.title-step {
  display: flex;
  align-items: center;
  margin-bottom: 30px;

  span {
    height: 32px;
    width: 32px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1c6fe9;
    color: #fff;
    border-radius: 50%;
  }

  label {
    color: #1c6fe9;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
  }
}

.input-group-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  .input-btn-group {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    min-width: 250px;

    label {
      font-size: 16px;
      color: #404040;
      margin-right: 20px;
      font-weight: 500;
    }

    .btn-group {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      border: solid 1px #e5e5e5;
      padding: 10px;
      border-radius: 10px;

      button {
        background-color: #f8f8f8;
        height: 32px;
        width: 32px;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        border-radius: 50%;

        svg {
          font-size: 16px;
          color: #1c6fe9;
        }
      }

      input {
        font-size: 16px;
        font-weight: 600;
        color: #404040;
        border: none;
        max-width: 35px;
        text-align: center;

        &:focus {
          outline: none;
        }
      }
    }
  }
}

.column-table-wrapper {
  margin-bottom: 40px;
}

.row-column-btn-group {
  padding: 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 0;
  margin-top: 40px;

  li {
    list-style: none;
    margin-right: 20px;
    display: flex;
    flex-direction: column;

    .column-btn {
      min-width: 195px;
      min-height: 62px;
      background-color: #ffffff;
      border: none;
      border-radius: 10px;
      margin-bottom: 40px;
      color: rgba(#1c6fe9, 0.4);
      font-size: 16px;
      font-weight: 600;
    }
  }
}

.upload-bio-wrapper {
  .before-select-bio-content {
    p {
      font-size: 16px;
      color: #929292;
      font-weight: 500;
      margin-top: 30px;
      display: block;
      border-bottom: solid 1px #e5e5e5;
      margin-bottom: 0;
      padding-bottom: 60px;
    }
  }
}

// create new extract
.form-group {
  .react-date-picker {
    width: 100%;
    .react-date-picker__wrapper {
      border: solid 1px #e5e5e5;
      min-height: 46px;
      border-radius: 10px;
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}

.react-date-picker__button {
  &:enabled {
    &:hover {
      .react-date-picker__button__icon {
        stroke: red !important;
      }
    }
  }

  .react-date-picker__button__icon {
    display: none;
    stroke: #1c6fe9;
    font-size: 22px;
  }
}

.react-date-picker__wrapper {
  input {
    &:focus-visible {
      outline: none;
    }
  }

  .react-date-picker__calendar-button {
    &:hover {
      svg {
        color: #3cd07d;
      }
    }

    svg {
      stroke: #1c6fe9;
      font-size: 22px;
      color: #1c6fe9;
    }
  }
}

.react-date-picker {
  span {
    display: inline-block !important;
  }
}

.react-date-picker__calendar {
  .react-calendar {
    border-radius: 5px;

    .react-calendar__navigation {
      background-color: #1c6fe9;
      border-radius: 5px 5px 0 0;
      overflow: hidden;

      button {
        color: #fff;
        font-size: 22px;

        &:hover {
          background-color: #3681ef;
        }
      }

      .react-calendar__navigation__label__labelText {
        color: #fff !important;
        margin-bottom: 8px !important;
      }
    }
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.select-mg-price {
  position: relative;

  select {
    min-height: 46px;
    background-color: transparent;
    border-radius: 10px;
    border: solid 1px #e5e5e5;
    width: 115px;
    padding-left: 15px;
    padding-right: 10px;
    color: #404040;
    font-size: 14px;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
    padding-top: 0;
    padding-bottom: 0;
    position: absolute;
    right: 0px;
    top: 0;

    &:focus-visible {
      outline: none;
    }
  }
}

.color-picker {
  right: 10px;
  top: 45px;

  button {
    background: transparent;
    border: none;
    padding: 0;

    svg {
      font-size: 28px;
      margin-top: 10px;
    }
  }
}

.main-inner {
  .add-users-details-wrapper {
    .form-group {
      .choose-file-wrapper {
        display: grid;
        grid-template-columns: 32% 62%;
        grid-column-gap: 5%;
        align-items: center;
        position: relative;

        .choose-image {
          .choose-file-input {
            height: 100%;
            overflow: hidden;
            width: 100%;
            border: none;
            padding: 0;
            opacity: 0;
            position: absolute;
            left: 0;
            right: 0;
            cursor: pointer;
          }

          .choose-file-name {
            min-height: 46px;
            background: linear-gradient(
              180deg,
              rgba(68, 168, 225, 1) 0%,
              rgba(72, 151, 228, 1) 30%,
              rgba(76, 140, 231, 1) 60%,
              rgba(80, 130, 233, 1) 100%
            );
            border-radius: 30px;
            border: solid 1px #e5e5e5;
            width: 100%;
            color: #fff;
            font-size: 14px;
            font-weight: 600;
            font-family: "Open Sans", sans-serif;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 0;
          }
        }

        .file-name-provider {
          min-height: 46px;
          width: 100%;
          border: solid 1px #e5e5e5;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 10px;
          font-size: 14px;
        }
      }
    }
  }
}

// view extract profile page design

.extract-profile-details-inner-wrapper {
  .user-search {
    .search {
      width: 68%;
    }

    .extract-filter {
      width: 32%;
      display: flex;
      justify-content: space-between;

      a {
        &:last-child {
          min-width: 190px;
        }
      }
    }
  }
}

.extract-view-profile-inner-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 30px;

  .details-colum {
    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        border-left: solid 1px #cfe2ff;
        padding-left: 20px;
        margin-bottom: 50px;

        span {
          font-size: 14px;
          color: #757575;
          font-weight: 600;
          margin-bottom: 10px;
          display: block;
        }

        p {
          font-size: 16px;
          color: #404040;
          font-weight: 700;
          margin: 0;
          display: flex;
          align-items: center;

          img{
            height: 40px;
          }

          a {
            color: #1c6fe9;
            text-decoration: underline;
            font-size: 14px;
            margin-left: 10px;
          }

          svg {
            font-size: 40px;
          }
        }
      }
    }
  }
}

.extract-history {
  .extract-title {
    h2 {
      font-size: 14px;
      color: #fff;
      font-weight: 600;
      text-transform: uppercase;
      background-color: #1c6fe9;
      border-radius: 5px;
      padding: 2px 10px;
      display: inline-block;
      margin: 0;
    }
  }
}

.add-users-details-wrapper {
  .add-user-form-wrapper {
    margin-bottom: 50px;
  }
}

// samples css start here

.samples-inventory-wrapper {
  .samples-inventory-title {
    h2 {
      font-weight: 700;
      font-size: 14px;
      color: #1c6fe9;
      text-transform: capitalize;
      display: inline-block;
      padding-bottom: 10px;
      margin-bottom: 20px;
    }
  }

  .samples-inventory-row {
    display: grid;
    grid-template-columns: 47.5% 47.5%;
    grid-column-gap: 5%;

    .samples-inventory-column {
      .form-group {
        margin-bottom: 40px;
        position: relative;

        .form-group-lable {
          color: #757575;
          font-size: 14px;
          font-weight: 600;
          margin-bottom: 15px;
          display: block;
        }

        .add-user-input {
          min-height: 46px;
          background-color: transparent;
          border-radius: 10px;
          border: solid 1px #e5e5e5;
          width: 100%;
          padding-left: 15px;
          padding-right: 10px;
          color: #404040;
          font-size: 14px;
          font-weight: 600;
          font-family: "Open Sans", sans-serif;
          padding-top: 0;
          padding-bottom: 0;
          box-sizing: border-box;
        }

        .google-map {
          main {
            padding: 0;
            overflow-y: inherit;

            > div {
              > div {
                padding: 0;

                .search-input {
                  min-height: 46px;
                  background-color: transparent;
                  border-radius: 10px;
                  border: solid 1px #e5e5e5;
                  width: 100%;
                  padding-left: 15px;
                  padding-right: 10px;
                  color: #404040;
                  font-size: 14px;
                  font-weight: 600;
                  font-family: "Open Sans", sans-serif;
                  padding-top: 0;
                  padding-bottom: 0;
                  box-sizing: border-box;
                  margin-bottom: 17px;
                }
              }
            }
          }
        }
      }
    }
  }
}

// samples css end here

// filter css start here

.extract-profile-filter {
  .extract-profile-filter-wrapper {
    .title {
      h2 {
        font-size: 18px;
        color: #fff;
        font-weight: 600;
        margin-top: 0;
        margin-bottom: 0px;
      }
    }

    .header {
      background-color: #1c6fe9;
      padding: 24px 30px;
      margin-left: -30px;
      margin-right: -30px;
      margin-top: -40px;
      margin-bottom: 40px;
      border-radius: 10px 10px 0 0;
      display: flex;
      align-items: center;
      justify-content: space-between;

      a {
        font-size: 14px;
        color: #fff;
        font-weight: 600;
        display: flex;
        align-items: center;

        svg {
          color: #fff;
          font-size: 16px;
          margin-right: 3px;
        }
      }
    }

    .filter-form-group-row {
      display: grid;
      grid-template-columns: 30% 30% 30% 3%;
      grid-column-gap: 2.3%;
      margin-bottom: 20px;

      .filter-form-group {
        .value-input {
          min-height: 52px;
          background-color: transparent;
          border-radius: 10px;
          border: solid 1px #e5e5e5;
          width: 100%;
          padding-left: 15px;
          padding-right: 10px;
          color: #404040;
          font-size: 16px;
          font-weight: 600;
          font-family: "Open Sans", sans-serif;
          padding-top: 0;
          padding-bottom: 0;
          box-sizing: border-box;
        }
      }

      .close-icon {
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
          font-size: 18px;
          color: #ff3737;
        }
      }
    }

    .filter-all-btn {
      display: flex;
      align-items: center;
    }
  }
}

.reset {
  background-image: linear-gradient(
    to right,
    #29323c,
    #485563,
    #29323c,
    #485563
  );
  margin: 0 20px;
  background-size: 300% 100%;

  border-radius: 50px;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;

  &:hover {
    background-position: 100% 0;
    moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
}
.form-submit-btn {
  display: flex;
}
.apply-filter {
  width: 130px;
  background-image: linear-gradient(
    to right,
    #0ba360,
    #3cba92,
    #30dd8a,
    #2bb673
  );

  background-size: 300% 100%;

  border-radius: 50px;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;

  &:hover {
    background-position: 100% 0;
    moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
}

.disable {
  opacity: 0.5;
}
.apply-filter2 {
  width: 20px;
  text-align: center;
  margin-left: 15px;
  background-image: linear-gradient(
    to right,
    #0ba360,
    #3cba92,
    #30dd8a,
    #2bb673
  );

  background-size: 300% 100%;

  border-radius: 50px;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;

  &:hover {
    background-position: 100% 0;
    moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
}

.disable {
  opacity: 0.5;
}
// filter css start here

.create-extract-bottom-tag {
  border-bottom: solid 1px #dedede;
  margin-bottom: 40px;
  padding-bottom: 14px;

  h2 {
    font-size: 14px;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    background-color: #1c6fe9;
    border-radius: 5px;
    padding: 2px 10px;
    display: inline-block;
    margin: 0;
  }
}

.create-new-extract-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .create-extract-header {
    display: flex;

    a {
      height: 30px;
      width: 30px;
      margin-left: 20px;
      border-radius: 40px;
      background-color: #fff;
      color: #1c6fe9;
      display: flex;
      align-items: center;
      justify-content: center;

      svg {
        font-size: 20px;
        path{
          stroke: #1c6fe9;
        }
      }

      &:last-child {
        color: red;

        svg {
          path {
            stroke: red;
          }
        }
      }
    }
  }
}

.samples-inventory-title {
  h2 {
    font-weight: 700;
    font-size: 14px;
    color: #1c6fe9;
    text-transform: capitalize;
    display: inline-block;
    padding-bottom: 10px;
    margin-bottom: 20px;
    margin-top: 0;
  }
}

.google-map {
  main {
    padding: 0;
    overflow: hidden;
    margin-top: 20px;
    > div {
      > div {
        padding: 0;
      }
    }
  }
}
.extract-view-tag-border {
  border-top: solid 1px #dedede;
  padding-top: 25px;
}
