.user-profile-popup{
    text-align: center;
    .close-icon{
        svg{
            color: #ff4444;
            font-size: 70px;
        }
    }
    .checked-icon{
        color: #3cd07d;
        font-size: 70px;
    }
    h2{
        font-size: 28px;
        font-weight: 600;
        margin-top: 25px;
        margin-bottom: 10px;
    }
    p{
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 20px;
        margin-top: 0;
    }
}
.create-popup{
    justify-content: center !important;
}
.popup-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: solid 1px #e5e5e5;
    padding-top: 15px;
    .popup-btn{
        min-width: 180px;
        min-height: 52px;
        border-radius: 10px;
        background-color: transparent;
        border: solid 1px #1c6fe9;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all .5s ease-in-out;
        color: #1c6fe9;
        font-size: 16px;
        font-weight: 600;
        &:hover{
            background-color: #1c6fe9;
            border-color: #1c6fe9;
            color: #fff;
        }
        &:first-child{
            margin-right: 10px;
        }
    }
}