.page-not-found-bg {
    background-color: #fff;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.page-not-found-logo {
    text-align: center;
    margin-bottom: 30px;
}
.page-not-found-zip {
    text-align: center;
}
.page-not-found-bottom-text {
    text-align: center;
    margin-top: -130px;
}
.page-not-found-bottom-text h2 {
    font-size: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 1;
}
.page-not-found-bottom-text p {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 40px;
}
.page-not-found-bottom-text .back-home-btn {
    display: block;
}
.page-not-found-bottom-text .back-home-btn a {
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    background-color: #1C6FE9;
    padding: 10px 30px;
    border-radius: 10px;
    text-decoration: none;
    display: inline-block;
}
.page-not-found-bottom-text.connection-bottom-text {
    margin-top: 0;
}