.medical-indication-details-wrapper {
    .task-radio-btn-group {
        border-bottom: solid 1px #DEDEDE;
        padding-bottom: 30px;
        margin-bottom: 35px;

        >p {
            font-size: 18px;
            font-weight: 600;
            color: #757575;
            margin-top: 0;
            margin-bottom: 20px;
        }

        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;

            li {
                .radio {
                    label {
                        font-size: 18px;
                        font-weight: 600;
                    }

                    margin-right: 60px;

                    input[type="radio"] {
                        position: absolute;
                        opacity: 0;

                        +.radio-label {
                            &:before {
                                content: '';
                                background: transparent;
                                border-radius: 100%;
                                border: 2px solid #929292;
                                display: inline-block;
                                width: 28px;
                                height: 28px;
                                position: relative;
                                top: -5px;
                                margin-right: 1em;
                                vertical-align: top;
                                cursor: pointer;
                                text-align: center;
                                transition: all 250ms ease;
                            }
                        }

                        &:checked {
                            +.radio-label {
                                &:before {
                                    background-color: #1C6FE9;
                                    box-shadow: inset 0 0 0 6px #fff;
                                    border: 2px solid #1C6FE9;
                                }
                            }
                        }

                        &:focus {
                            +.radio-label {
                                &:before {
                                    outline: none;
                                    border-color: #1C6FE9;
                                }
                            }
                        }

                        +.radio-label {
                            &:empty {
                                &:before {
                                    margin-right: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.medical-indication-table-title {
    display: flex;
    align-items: center;
    // justify-content: end;
    width: 30%;

    p {
        font-weight: 600;
        font-size: 18px;
        color: #757575;
        margin: 0;
    }

    span {
        font-weight: 600;
        font-size: 18px;
        color: #757575;
        margin: 0 30px;
        display: block;
    }

    a {
        background-color: #1C6FE9;
        min-width: 275px;
        min-height: 52px;
        color: #fff;
        font-size: 16px;
        font-weight: 600;
        border-radius: 10px;
        border: none;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        font-family: "Open Sans", sans-serif;
        transition: all 0.5s ease-in-out;

        svg {
            margin-right: 10px;
            font-size: 20px;
        }
    }
}

.create-medical-indication-btn {
    display: flex;
    justify-content: center;

    a {
        border: solid 1px #1C6FE9;
        background-color: transparent;
        border-radius: 5px;
        min-width: 390px;
        min-height: 52px;
        margin-left: 30px;
        font-size: 16px;
        font-weight: 600;
        color: #1C6FE9;
        transition: all 0.5s ease-in-out;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;

        &:hover {
            background-color: #1C6FE9;
            color: #fff;
        }

        svg {
            margin-right: 10px;
            font-size: 20px;
        }
    }
}

.btn-top-or-text {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 20px;
}
.users-details-inner-wrapper{
    .user-search{
        display: flex;
        .search{
            width: 70%;
        }
    }
}
.medical-indication-table-details {
    margin-top: 40px;
    .madical-details-submit-btn {
        margin-top: 40px;
        padding-top: 40px;
        text-align: right;
        border-top: solid 1px #DEDEDE;

        a {
            background-color: #3CD07D;
            color: #fff;
            font-size: 16px;
            font-weight: 600;
            border-radius: 10px;
            border: none;
            cursor: pointer;
            display: inline-block;
            text-decoration: none;
            font-family: "Open Sans", sans-serif;
            transition: all 0.5s ease-in-out;
            padding: 15px 50px;
        }
    }
}

.medical-details-table table {
    width: 100%;
    border-spacing: 0;

    thead {
        tr {
            box-shadow: 0 5px 8px rgba($color: #1C6FE9, $alpha: 0.15);

            th {
                color: #757575;
                font-size: 16px;
                font-weight: 600;
                padding: 15px 20px;
                text-align: left;
            }
        }
    }

    tbody {
        tr {
            transition: all 0.5s ease-in-out;

            &:hover {
                background-color: #CFE2FF;

                td {
                    color: #1C6FE9;
                }
            }

            td {
                padding: 15px 20px;
                text-align: left;
                border-bottom: solid 1px #E5E5E5;
                color: #404040;
                font-size: 16px;
                font-weight: 600;
                transition: all 0.5s ease-in-out;

                input {
                    width: 24px;
                    height: 24px;
                }
            }
        }
    }

}

.medical-indication-view-wrapper {
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px #CFE2FF;
    margin-bottom: 40px;
    padding-bottom: 20px;
    margin-top: -15px;
    .name-left-column {
        p {
            font-size: 18px;
            color: #757575;
            font-weight: 500;
            margin: 0;
            strong{
                color: #404040;
                margin-left: 22px;
                font-weight: 700;
            }
        }
    }
    .color-right-column{
        display: flex;
        p{
            font-size: 18px;
            color: #757575;
            font-weight: 500;
            margin: 0;
            border-left: solid 1px #929292;
            border-right: solid 1px #929292;
            padding: 0 10px;
            strong{
                color: #404040;
                margin-left: 8px;
                font-weight: 700;
            }  
        }
        ul{
            margin: 0;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            li{
                list-style: none;
                display: flex;
                align-items: center;
                margin-left: 15px;
                .status-color {
                    height: 16px;
                    width: 16px;
                    border-radius: 5px;
                    display: inline-block;
                    margin-right: 6px;
                }
            }
        }
    }
}
.medical-indication-details-view-table table {
    border-spacing: 1px;
}

// Dragble Table

.cKDTf{
    padding: 0 !important;
    display: inherit;
    .dragable-table{
        width: 100%;
    }
}
