.users-details-inner-wrapper {
    .user-search {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 40px;

        .search {
            width: 80%;
            position: relative;
            display: flex;
            align-items: center;

            .search-icon {
                position: absolute;
                left: 10px;
                background-color: transparent;
                border: none;
                color: #1C6FE9;
                font-size: 22px;
                display: flex;
                align-items: center;
                font-family: 'Open Sans', sans-serif;
            }

            .search-input {
                width: 100%;
                padding-left: 55px;
                margin-right: 30px;
                border-top: 0;
                border-left: 0;
                border-right: 0;
                min-height: 46px;
                font-size: 14px;
                font-weight: 600;
                border-bottom: solid 1px #DEDEDE;
                font-family: 'Open Sans', sans-serif;

                &:focus {
                    outline: none;
                }
            }
        }

        .add-user-btn {
            width: 20%;

            button {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 16px;
                color: #fff;
                font-weight: 600;

                svg {
                    margin-right: 10px;
                    font-size: 22px;
                }
            }
        }
    }
}

.user-details-table {
    table {
        width: 100%;
    }
}

.pagination-wrapper {
    display: grid;
    grid-template-columns: 20% 50% 30%;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    width: 100%;

    .pagination {
        margin: 0;
        justify-content: center;
    }
}
.entries-content{
    text-align: right;
    span{
        font-size: 14px;
    }
}


// Add Users css start here

.add-users-details-wrapper {
    .users-title {
        background-color: #1C6FE9;
        padding: 10px 30px;
        margin-left: -30px;
        margin-right: -30px;
        margin-top: -40px;
        margin-bottom: 40px;
        border-radius: 10px 10px 0 0;   
        justify-content: space-between;
        display: flex;

        h2 {
            font-size: 16px;
            color: #fff;
            font-weight: 700;
            line-height: 1;
            margin: 5px 0;
        }
        a{
            height: 30px;
            width: 30px;
            margin-left: 20px;
            border-radius: 40px;
            background-color: #fff;
            color: #1c6fe9;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        svg{
            font-size: 20px;
            path{
                stroke: red;
            }
        }
    }

    .add-user-form-wrapper {
        .add-user-form {
            display: grid;
            grid-template-columns: 47.5% 47.5%;
            grid-column-gap: 5%;
            grid-row-gap: 60px;

            .form-group {
                position: relative;

                span {
                    color: #757575;
                    font-size: 14px;
                    font-weight: 600;
                    margin-bottom: 15px;
                    display: block;
                }

                .add-user-input {
                    min-height: 46px;
                    background-color: transparent;
                    border-radius: 10px;
                    border: solid 1px #E5E5E5;
                    width: 100%;
                    padding-left: 15px;
                    padding-right: 10px;
                    color: #404040;
                    font-size: 14px;
                    font-weight: 600;
                    font-family: 'Open Sans', sans-serif;
                    padding-top: 0;
                    padding-bottom: 0;
                    box-sizing: border-box;
                    &::placeholder {
                        color: #929292;
                    }
                }
            }
        }

        .form-submit-btn {
            margin-top: 60px;

            button {
                margin-left: auto;
            }
        }
    }
}

// Users Profile css 

.profile-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;

    .show-profile-details {
        width: 70%;
        display: grid;
        grid-template-columns: 28% 30% 35%;

        .profile-img {
            width: 160px;

            img {
                width: 160px;
                height: 160px;
                object-fit: cover;
                border-radius: 160px;
            }
        }

        .user-name-number {
            display: grid;

            .user-name {
                h2 {
                    color: #404040;
                    font-size: 20px;
                    font-weight: 700;
                    margin-top: 0;
                    margin-bottom: 5px;
                }

                .yellow-status {
                    font-size: 14px;
                }
            }

            .number {
                align-self: end;

                span {
                    font-size: 14px;
                    color: #757575;
                    font-weight: 600;
                }

                p {
                    color: #404040;
                    font-size: 16px;
                    font-weight: 600;
                    margin-top: 10px;
                    margin-bottom: 0;
                }
            }
        }

        .mail-details {
            display: grid;

            span {
                font-size: 14px;
                color: #757575;
                font-weight: 600;
                
            }

            p {
                color: #404040;
                font-size: 16px;
                font-weight: 600;
                margin-top: 10px;
                margin-bottom: 0;
               
            }
            .top-space{
                margin-top: 57px;
                display: grid;
            }
           
        }
    }
    .edit-profile-details{
        width: 30%;
        text-align: right;
        display: grid;
        .edit-icons{
            margin-bottom: 30px;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            a{
                height: 52px;
                width: 52px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #FF3737;
                border-radius: 5PX;
                svg{
                    color: #fff;
                    font-size: 20px;
                }
                &:first-child{
                    margin-right: 20px;
                    background-color: #1C6FE9;
                }
            }
        }
        .reset-btn{
            .reset-btn{
                background-color: transparent;
                border: solid 1px #1C6FE9;
                color: #1C6FE9;
                font-size: 16px;
                font-weight: 600;
                border-radius: 4px;
                padding: 15px 25px;
                margin-top: 15px;
                svg{
                    color: #1C6FE9;
                    font-size: 16px;
                    margin-right: 5px;
                    margin-bottom: -3px;
                    path{
                        stroke: #1C6FE9;
                    }
                }
            }
        }

    }
}

.user-setting-popup{
    background-color: white;
    position: absolute;
    top: 80%;
    left: 0;
    width: 183px;
    height: auto;
    transform: translate(-50%, 0);
    z-index: 1;
    border-radius: 10px;
    padding: 30px 15px;
    box-shadow: 0px 0px 10px #ddd;
    color: #000;
    p{
        cursor: pointer;
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 20px;
        margin-top: 0;
        &:last-child{
            margin-bottom: 0px;
        }
    }
}

.add-user-map{
    .form-group {
        margin-bottom: 40px;
        position: relative;

        .form-group-lable {
            color: #757575;
            font-size: 14px;
            font-weight: 600;
            margin-bottom: 15px;
            display: block;
        }

        .add-user-input {
            min-height: 46px;
            background-color: transparent;
            border-radius: 10px;
            border: solid 1px #E5E5E5;
            width: 100%;
            padding-left: 15px;
            padding-right: 10px;
            color: #404040;
            font-size: 14px;
            font-weight: 600;
            font-family: "Open Sans", sans-serif;
            padding-top: 0;
            padding-bottom: 0;
            box-sizing: border-box;
        }

        .google-map {
            main {
                padding: 0;
                overflow-y: inherit;

                >div {
                    >div {
                        padding: 0;

                        .search-input {
                            min-height: 46px;
                            background-color: transparent;
                            border-radius: 10px;
                            border: solid 1px #E5E5E5;
                            width: 100%;
                            padding-left: 15px;
                            padding-right: 10px;
                            color: #404040;
                            font-size: 14px;
                            font-weight: 600;
                            font-family: "Open Sans", sans-serif;
                            padding-top: 0;
                            padding-bottom: 0;
                            box-sizing: border-box;
                            margin-bottom: 17px;
                        }
                    }
                }
            }
        }
    }
}