.availability-radio-group {
    p {
        color: #757575;
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 15px;
        display: block;
        margin-top: 0;
    }
    .availability-radio {
        display: flex;

        .radio {
            margin-right: 30px;
            display: flex;
            align-items: center;

            &:last-child {
                margin-right: 0;
            }

            .radio-label {
                color: #929292;
                font-size: 14px;
                font-weight: 600;
                margin-left: 10px;
            }

            input {
                height: 20px;
                width: 20px;
            }
        }
    }
}

.view-supplier-details {
    .extract-view-profile-inner-wrapper {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.view-supplier-details {
    .form-group {

        textarea {
            padding-top: 10px !important;

            &:focus {
                outline-color: #1C6FE9;

            }
        }

        .google-map {
            .search-input {
                min-height: 46px;
                background-color: transparent;
                border-radius: 10px;
                border: solid 1px #E5E5E5;
                width: 100%;
                padding-left: 15px;
                padding-right: 10px;
                color: #404040;
                font-size: 14px;
                font-weight: 600;
                font-family: "Open Sans", sans-serif;
                padding-top: 0;
                padding-bottom: 0;
                box-sizing: border-box;
                margin-bottom: 17px;
            }

        }
    }
}